header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 50;
  flex-wrap: wrap;
  padding: 1.5rem 0 2.5rem 0;

  .logo {
    a {
      @extend .squada_one_font;
      font-size: 2.25rem;
    }
  }

  .right_a {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding: 0.4rem;
    border: 1px solid $theme-color-opacity;
    border-radius: 3px;
    box-shadow: 4px 4px $theme-color-opacity;
    // color: $theme-color-opacity;
  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;

    a {
      font-weight: 600;
      border-bottom: 1px solid $white-color;
      padding: 0.5rem;
      display: block;
    }
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 18px 10px;
    border: 1px solid $theme-color-opacity;
    color: $theme-color-opacity;
    box-shadow: 4px 4px;
    border-radius: 3px;
    position: relative;
    user-select: none;

    .navicon {
      background: white;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px;

      &::before,
      &::after {
        background: white;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &::before {
        top: 5px;
      }

      &::after {
        top: -5px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 240px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent;
    }

    &:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg);
    }

    &:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg);
    }

    &:checked ~ .menu-icon:not(.steps) .navicon:before,
    &:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0;
    }
  }
}
