main {
  @extend .my-1_2;

  section {
    margin-top: 2rem;
  }

  .neu_section {
    margin-bottom: 1.75rem;
    padding: 3rem;

    @extend .radius-lg;

    @include neu(false);
  }

  .about {
    .Typewriter__wrapper {
      color: var(--theme);
    }

    .button {
      display: inline-flex;
      padding: 0;

      a {
        padding: 0.65rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }

      span {
        font-weight: 700;
      }
    }
  }

  .contact {
    .social_links {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;

      div {
        display: inline-flex;
        align-items: baseline;
        gap: 0.75rem;
        border-radius: 0.35rem;
        height: fit-content;
        padding: 0.3rem 1rem;

        @include neu(false, 3px, 7px);

        a {
          color: var(--theme_two);
          font-weight: 500;
        }

        &:hover {
          svg {
            @include transition;
            transform: rotate(360deg);
          }

          a {
            @include transition;
          }
        }
      }
    }
  }
}
