main {
  @extend .my-1_2;

  section {
    margin-bottom: 1.75rem;
    background: $dark-color-grad;
    padding: 3rem;

    @extend .radius-lg;
    @include neu(false, $color-1: #0c0c0d, $color-2: #302e33);
  }

  .about {
    .button {
      display: inline-flex;
      padding: 0;

      a {
        padding: 0.65rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  .contact {
    margin-top: 2rem;

    .social_links {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;

      div {
        display: inline-flex;
        align-items: baseline;
        gap: 0.75rem;
        border-radius: 0.35rem;
        height: fit-content;
        background-color: $theme-color-three-opacity;
        padding: 0.3rem 1rem;

        a {
          color: $theme-color-three;
          font-weight: 500;
        }

        &:hover {
          svg {
            @include transition;
            transform: rotate(360deg);
          }

          a {
            @include transition;
            color: $white-color;
          }
        }
      }
    }
  }
}
