.blog {
  main {
    margin-top: 3rem;

    .grand_title {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 1.75rem;
      line-height: 40px;

      @include md {
        line-height: 50px;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
    }

    article {
      @extend .mt-2;

      h3 {
        font-size: 1.25rem;
        font-weight: 600;
      }

      .text {
        a,
        a > * {
          color: var(--theme_two);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .image_container {
        position: relative;
        z-index: 999;

        img {
          z-index: 999;
        }

        height: 250px;

        @include sm {
          height: 325px;
        }

        @include md {
          height: 400px;
        }
      }

      .blog_content {
        margin-top: 3rem;

        .blog_info {
          gap: 4.5rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid var(--foreground_three);
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 1rem;

          .info_right {
            * {
              color: var(--foreground_two);
            }

            span {
              min-width: 80px;
            }

            font-weight: 500;
          }
        }

        .blog_text {
          .button {
            display: inline-block;

            span {
              padding-left: 0.75rem;
            }

            span,
            svg,
            path {
              font-weight: 500;
              font-size: 0.95rem;
            }
          }

          .blog_text_row {
            display: flex;
            gap: 1rem;
            flex-direction: column-reverse;

            div {
              a {
                width: 100%;
              }
            }

            @include sm {
              flex-direction: row;
              justify-content: space-between;

              div {
                a {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}
