button,
.button {
  padding: 0.65rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;

  svg {
    margin-top: 0.1rem;
  }
}

.button_primary {
  @include transition;
  @include neu(false, 5px, 12px);

  &:hover {
    @include neu(true, 5px, 12px);
  }
}

.button_theme_two {
  background-color: var(--theme_two);
  box-shadow: 0px 10px 20px -17px var(--theme_two);

  @include transition;

  span,
  svg,
  path {
    color: $light-color;
  }

  &:hover {
    background-color: var(--theme_two_light);
  }
}

.button_with_icon {
  display: flex;
  width: fit-content;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
