button,
.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;

  svg {
    margin-top: 0.1rem;
  }
}

.button_theme {
  border: 1px solid transparent;
  background-color: $theme-color-opacity;

  @include transition;

  &:hover {
    background-color: $theme-color;
  }
}

.button_theme_two {
  text-transform: uppercase;
  background-color: $theme-color-two-opacity;

  @include transition;
  @include neu(false, 5px, 5px, 12px, $color-1: #0c0c0d, $color-2: #302e33);

  &:hover {
    @include glow($color: $theme-color-two-opacity);
  }
}

.button_with_icon {
  display: flex;
  width: fit-content;
  align-items: baseline;
  gap: 0.75rem;
}
