button,
.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 500;

  svg {
    margin-top: 0.1rem;
  }
}

.button_primary {
  text-transform: uppercase;

  @include transition;
  @include neu(false, 5px, 12px);

  &:hover {
    @include neu(true, 5px, 12px);
  }
}

.button_with_icon {
  display: flex;
  width: fit-content;
  align-items: baseline;
  gap: 0.75rem;
}
