.card {
  .image_container {
    height: 200px;

    @include sm {
      height: 300px;
    }

    @include md {
      height: 200px;
    }
  }

  .card_footer {
    margin-top: 0.75rem;

    * {
      text-align: center;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    .link {
      justify-content: center;
    }

    @include md {
      * {
        text-align: left;
      }

      .link {
        justify-content: left;
      }
    }
  }
}
