.card {
  @extend .radius-lg;

  margin-top: 0.75rem;
  padding: 2.5rem;
  background: $dark-color-grad;

  @include neu(false);

  .top {
    p {
      @extend .mt-1_2;

      font-size: 0.95rem;
    }
  }

  .bot {
    @extend .mt-2_2;

    a {
      padding: 0.65rem 1.5rem;
    }
  }
}
