.hero {
  width: 100%;
  padding-top: 1.5rem;

  .lottie {
    padding: 2rem;
    border-radius: 8px;
    margin: 0.5rem 0 3.25rem 0;

    @include neu_dark;
  }

  .highlight {
    @include neu_dark(false, 5px, 12px);
  }

  @extend .m_plus_font;
}
