.hero {
  padding-top: 1.5rem;

  .lottie {
    padding: 2rem;
    border-radius: 8px;
    margin-top: 0.5rem;
    margin-bottom: 3.25rem;

    @include neu;
  }
  
  .hero_bottom {
    .Typewriter__wrapper {
      color: var(--theme);
    }
  }

  @extend .m_plus_font;
}
