* {
  @extend .m_plus_font;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;

  @include md {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;

  &::after {
    content: "";
    display: block;
    margin-top: 0.75rem;
    width: 50px;
    background-color: var(--theme);
    height: 2px;
  }
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  // color: var(--theme_two);

  // &::after {
  //   content: "";
  //   display: block;
  //   margin-top: 0.75rem;
  //   width: 30px;
  //   background-color: var(--theme_two);
  //   height: 2px;
  // }
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  margin-bottom: 2rem;
}

a,
p {
  @extend .m_plus_font;
  font-size: 1rem;
  letter-spacing: 0.025rem;
  line-height: 1.45rem;

  @include md {
    line-height: 1.55rem;
  }
}

.grand_title {
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
}

.large_title {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
}

.subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: var(--foreground);
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  line-height: 28px;
  color: var(--foreground);
  opacity: 0.9;
}

.title_underline {
  &::after {
    background-color: var(--theme);
    content: "";
    display: block;
    margin-top: 1.5rem;
    width: 50px;
    height: 2px;
  }
}
