* {
  @extend .m_plus_font;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;

  @include md {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;

  &::after {
    content: "";
    display: block;
    margin-top: 0.75rem;
    width: 50px;
    background-color: $theme-color-opacity;
    height: 2px;
  }
}

h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;

  &::after {
    content: "";
    display: block;
    margin-top: 0.75rem;
    width: 50px;
    background-color: $theme-color-two-opacity;
    height: 2px;
  }
}

p {
  margin-bottom: 2rem;
}

a,
p {
  @extend .m_plus_font;
  font-size: 1rem;
  letter-spacing: 0.025rem;
  line-height: 1.45rem;

  @include md {
    line-height: 1.55rem;
  }
}
