.mt {
  margin-top: 1rem;
}

.mt-1_2 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.radius {
  border-radius: 5px;
}

.radius-md {
  border-radius: 8px;
}

.radius-lg {
  border-radius: 20px;
}