$theme-color: #c000ca;
$theme-color-two: #00b3ff;

:root {
  /* Your default theme */
  --background: #e0e0e0;
  --background_two: #d2d2d2;
  --foreground: #1e1d20;
  --foreground_two: #1e1d20ab;
  --foreground_three: #3333331c;
  --theme: #ee5590;
  --theme_two: #0097ab;
  --neu_one: #bebebe;
  --neu_two: #ffffff;
}

[data-theme="dark"] {
  --background: #1e1d20;
  --background_two: #2f2d32;
  --foreground: #e0e0e0;
  --foreground_two: #e0e0e0b3;
  --foreground_three: #e0e0e02b;
  --theme: #f582ae;
  --theme_two: #8bd3dd;
  --neu_one: #0c0c0d;
  --neu_two: #302e33;
}
